*{
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.2em;
}

fieldset{
  border: 2px solid #c3c3c3;
  margin-bottom: 16px;
}

#buttons{
  display: grid;
  grid-template-columns: 50% auto;
  }

  button{
    margin: 20px;
  }